spring:
  application:
    name: user-managment-ms

  datasource:
    url: jdbc:mysql://localhost:3306/user-management-db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  servlet:
    context-path: /user-managment-ms
